.multiple-text-component {
  /* Not sure if there is a non-hardcoded way to align with other single-line text components */
  min-width: 164.8px;
}

.multiple-text-component textarea {
  /* Does this have fine compatibility? */
  field-sizing: content;
  resize: none;
  min-width: 164.8px; 
}